.chat-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: auto
}

.chat-messages {
    flex: 1;
    overflow-y: scroll;
    padding: 10px;
    margin-bottom: 30px;
}


.single-msg {
    align-self: flex-start;
    background-color: #EAEAEA;
    border-radius: 15px;
}

.chat-input {
    display: flex;
    position: fixed;
    margin: 10px;
    bottom: 0;
    left: 0; 
    width: 100%;
}

.chat-input input {
    flex: 1;
    margin-right: 10px;
    padding: 8px;
}

.ch-sta {
    padding: 8px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.ch-sto {
    padding: 8px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff4d00;
    color: #fff;
    cursor: pointer;
}

.message-head {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: #007bff;
}

.message-user {
    padding-top: 0px;
    padding-left: 20px;
    padding-bottom: 10px;
}

